<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.tysia.maggstone">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.error.ErrorsActivity"></activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:theme="@style/AppThemeBlue"
            android:label="@string/title_activity_settings" />
        <activity android:name=".ui.DownloadStateActivity" />
        <activity android:name=".ui.picture.TakePictureActivity" />
        <activity android:name=".ui.SendingStateActivity" />
        <activity android:name=".ui.scanner.ShelfScannerActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ui.scanner.WaresShelfScannerActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ui.hose.HoseActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="pl.tysia.maggstone.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".data.service.WaresDownloadService" />
        <service android:name=".data.service.ContractorsDownloadService" />
        <service android:name=".data.service.SendingService" android:foregroundServiceType="dataSync" />

        <activity android:name=".ui.orders.OrdersActivity" />
        <activity android:name=".ui.ware_ordering.OrderedWaresActivity" />
        <activity android:name=".ui.ware_ordering.WareOrderingActivity" />
        <activity
            android:name=".ui.wares.WareInfoActivity"
            android:theme="@style/AppThemeOrange" />
        <activity
            android:name=".ui.scanner.WareScannerActivity"
            android:theme="@style/AppThemeOrange" />
        <activity
            android:name=".ui.wares.WareListActivity"
            android:theme="@style/AppThemeOrange" />
        <activity
            android:name=".ui.contractors.ContractorListActivity"
            android:theme="@style/AppThemeBlue" />
        <activity
            android:name=".ui.document.NewShiftDocumentActivity"
            android:theme="@style/AppThemeBlue" />
        <activity
            android:name=".ui.warehouses.WarehousesListActivity"
            android:theme="@style/AppThemeBlue" />
        <activity
            android:name=".ui.document.BasicNewDocumentActivity"
            android:theme="@style/AppThemeBlue" />
        <activity android:name=".ui.picture.PictureEditorActivity"
            android:theme="@style/AppThemeOrange"/>
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity" />
    </application>

</manifest>